In [2]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area')

df[1]

,Rank,Country / Dependency,Total in km2 (mi2),Land in km2 (mi2),Water in km2 (mi2),% water,Notes
0,NaN,World,"510,072,000 (196,940,000)","148,940,000 (57,510,000)","361,132,000 (139,434,000)",70.8,NaN
1,1,Russia,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21,"The largest country in the world, which spans ..."
2,NaN,Antarctica,"14,200,000 (5,500,000)","14,200,000 (5,500,000)",0 (0),0,"13,916,000 km2 (5,373,000 sq mi) (98%) of the ..."
3,2,Canada[Note 1],"9,984,670 (3,855,100)","9,093,507 (3,511,023)","891,163 (344,080)",8.93,Largest English- and largest French-speaking c...
4,3 or 4[Note 4],China,"9,596,961 (3,705,407)[7]","9,326,410 (3,600,950)","270,550 (104,460)",2.82,"Largest country entirely in Asia, and second-l..."
...,...,...,...,...,...,...,...
260,NaN,Ashmore and Cartier Islands (Australia),5 (1.9),5 (1.9),0 (0),0,NaN
261,NaN,Spratly Islands (disputed),(< 1.9),(< 1.9),0 (0),0,NaN
262,NaN,Coral Sea Islands (Australia),(< 1.2),(< 1.2),0 (0),0,NaN
263,194,Monaco,2.02 (0.78),2.02 (0.78),0 (0),0,European microstate. Smallest country with a c...
264,195,Vatican City,0.49 (0.19),0.49 (0.19),0 (0),0,European microstate. Smallest country in the w...

In [4]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area', header = 0, index_col = 0)

# index_col = 첫 번째 세로줄 없애기

df[1]

# df[1][df[1].columns[1]][0]

,Country / Dependency,Total in km2 (mi2),Land in km2 (mi2),Water in km2 (mi2),% water,Notes
Rank,,,,,,
NaN,World,"510,072,000 (196,940,000)","148,940,000 (57,510,000)","361,132,000 (139,434,000)",70.8,NaN
1,Russia,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21,"The largest country in the world, which spans ..."
NaN,Antarctica,"14,200,000 (5,500,000)","14,200,000 (5,500,000)",0 (0),0,"13,916,000 km2 (5,373,000 sq mi) (98%) of the ..."
2,Canada[Note 1],"9,984,670 (3,855,100)","9,093,507 (3,511,023)","891,163 (344,080)",8.93,Largest English- and largest French-speaking c...
3 or 4[Note 4],China,"9,596,961 (3,705,407)[7]","9,326,410 (3,600,950)","270,550 (104,460)",2.82,"Largest country entirely in Asia, and second-l..."
...,...,...,...,...,...,...
NaN,Ashmore and Cartier Islands (Australia),5 (1.9),5 (1.9),0 (0),0,NaN
NaN,Spratly Islands (disputed),(< 1.9),(< 1.9),0 (0),0,NaN
NaN,Coral Sea Islands (Australia),(< 1.2),(< 1.2),0 (0),0,NaN
194,Monaco,2.02 (0.78),2.02 (0.78),0 (0),0,European microstate. Smallest country with a c...
195,Vatican City,0.49 (0.19),0.49 (0.19),0 (0),0,European microstate. Smallest country in the w...

In [14]:
# slicing

no_notes = df[1].iloc[:, :5]

# no_notes.columns = ['', '', '', '', '']로 컬럼 이름 설정 가능

no_notes.columns = ['나라', '전체 면적', '땅 면적', '물 면적', '물 비율(%)']



# for i in range(len(no_notes)):
#     if type(no_notes['땅 면적'][i]) == float:
#         no_notes['땅 면적'][i] = str(no_notes['땅 면적'][i])
#     if type(no_notes['물 면적'][i]) == float:
#         no_notes['물 면적'][i] = str(no_notes['물 면적'][i])
#     if no_notes['땅 면적'][i][0].isalpha():
#         no_notes['땅 면적'][i] = None

#     if ' ' in no_notes['전체 면적'][i]:
#         x = no_notes['전체 면적'][i]
#         idx = x.find(' ')
#         x = float(x[:idx].replace(',', '')) 
#     if ' ' in no_notes['땅 면적'][i]:
#         y = no_notes['땅 면적'][i]
#         idx = y.find(' ')
#         y = float(y[:idx].replace(',', ''))
#         print(y)
#     if ' ' in no_notes['물 면적'][i]:
#         if no_notes['물 면적'][i] == None:
#             continue
#         z = no_notes['물 면적'][i]
#         idx = z.find(' ')
#         z = float(z[:idx].replace(',', ''))

print(no_notes.sort_values('물 면적', ascending=False))
no_notes.to_excel('total water area.xlsx')

                                          나라              전체 면적  \
Rank
NaN             Sint Eustatius (Netherlands)           21 (8.1)
NaN   Akrotiri and Dhekelia (United Kingdom)       253.8 (98.0)
NaN                       Saba (Netherlands)           13 (5.0)
NaN                Saint Barthélemy (France)           21 (8.1)
NaN                    France (metropolitan)  543,940 (210,020)
...                                      ...                ...
NaN                                 Abkhazia      8,660 (3,340)
NaN                             Transnistria      4,163 (1,607)
NaN                            South Ossetia      3,900 (1,500)
NaN                          Northern Cyprus      3,355 (1,295)
NaN                          Åland (Finland)        1,580 (610)

                땅 면적            물 면적         물 비율(%)
Rank
NaN   not determined  not determined  not determined
NaN   not determined  not determined  not determined
NaN   not determined  not determined  not determined
NaN   not determined  not determined  not determined
NaN             None             nan             NaN
...              ...             ...             ...
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN

[265 rows x 5 columns]

In [51]:
for i in range(len(no_notes)):
    if ' ' in no_notes['전체 면적'][i]:
        x = no_notes['전체 면적'][i]
        idx = x.find(' ')
        x = x[:idx]
    if ' ' in no_notes['땅 면적'][i]:
        y = no_notes['땅 면적'][i]
        idx = y.find(' ')
        y = y[:idx]
    if ' ' in no_notes['물 면적'][i]:
        z = no_notes['물 면적'][i]
        idx = z.find(' ')
        z = z[:idx]



no_notes

TypeError: argument of type 'float' is not iterable

In [15]:
import pandas as pd

df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area', header = 0, index_col = 0)
no_notes = df[1].iloc[:, :5]
no_notes.columns = ['나라', '전체 면적', '땅 면적', '물 면적', '물 비율(%)']
# ascending을 True로 하면 오름차순 정렬
print(no_notes.sort_values('물 비율(%)', ascending=False))
no_notes.to_excel('나라별 물비율 내림차순 정렬.xlsx')

                                          나라                전체 면적  \
Rank
NaN                       Saba (Netherlands)             13 (5.0)
NaN   Akrotiri and Dhekelia (United Kingdom)         253.8 (98.0)
NaN             Sint Eustatius (Netherlands)             21 (8.1)
NaN                Saint Barthélemy (France)             21 (8.1)
NaN                    Saint Martin (France)              54 (21)
...                                      ...                  ...
NaN     United States Minor Outlying Islands  6,959.41 (2,687.04)
NaN                             Transnistria        4,163 (1,607)
NaN                            South Ossetia        3,900 (1,500)
NaN                          Northern Cyprus        3,355 (1,295)
NaN                          Åland (Finland)          1,580 (610)

                땅 면적            물 면적         물 비율(%)
Rank
NaN   not determined  not determined  not determined
NaN   not determined  not determined  not determined
NaN   not determined  not determined  not determined
NaN   not determined  not determined  not determined
NaN      54.4 (21.0)      Negligible      Negligible
...              ...             ...             ...
NaN      34.2 (13.2)   6,937 (2,678)             NaN
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN
NaN              NaN             NaN             NaN

[265 rows x 5 columns]